@model IEnumerable<CityWeather.Models.Report>

@{
    ViewBag.Title = "Report";
}

<i><h2>Weather Report</h2></i>
<div style="font-family:Arial;font-size:medium">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Humidity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Max_Temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min_Temp)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pressure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Humidity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Max_Temp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Min_Temp)
                </td>
            </tr>
        }

    </table>
    </div>
